<html>
    <head>
        <title>Delete Res</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.less')}}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    </head>
    <body>
        <h1>Delete Res</h1>
        <form action="{{url_for('deleteRes', id=res.id)}}" method="post">
            <p>Do you want to delete the restaurant: {{res.name}} ?</p>
            <input type="submit" value="Delete">
        </form>
    </body>
</html>