<html>
    <head>
        <title>Edit Restaurant Name</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.less')}}">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    </head>
    <body>
        <h1>Edit Restaurant Name</h1>
        <form action="{{url_for('editRes', id=res.id)}}" method="post">
            <input type="text" name="name" placeholder="{{res.name}}">
            <input type="submit" value="Edit">
        </form>
    </body>
</html>